<div class="main-header-backgroud">
  <div class="jumbotron reset-padding main-header-alpha">
    <div class="main-header-nav-spacer"></div>
    <div class="main-header vcenter-parent">
      <div class="container vcenter-child">
        <div class="text-center main-header-text">
          <h1 class="main-header-text-accent title">E V  &nbsp;&nbsp;  H A C K S &nbsp;&nbsp; II</h1>
          <img src="assets/MinimalLogoWeb.png" class="img-circle" width="160px" height="160px">
          <h6>design. build. hack.</h6>
          <h6 class="main-header-text-accent">Evergreen Valley High School's second annual Hackathon</h6>
          <h5>
            DECEMBER 4, 2016 | 9:00AM - 9:00PM
          </h5>
          <br>
          <p><a class="btn btn-primary btn-lg" ng-link="home({section: 'signup'})" role="button">Sign up</a> <a class="btn btn-primary btn-lg" ng-link="home({section: 'sponsor'})" role="button">Support us</a></p>
          <p>
            <a class="main-header-text-accent" href="https://www.facebook.com/evhacks">
              <i class="fa fa-facebook"></i>
            </a>
            <a class="main-header-text-accent" href="//twitter.com/evhacks" target="_blank">
              <i class="fa fa-twitter"></i>
            </a>
            <a class="main-header-text-accent" href="https://github.com/EVHacks" target="_blank">
              <i class="fa fa-github"></i>
            </a>
          </p>
  
        </div>
      </div>
    </div>
  </div>
</div>
