<div class="main-header-backgroud">
  <div class="jumbotron reset-padding main-header-alpha">
    <div class="main-header vcenter-parent">
      <div class="container vcenter-child">
        <div class="text-center main-header-text">
          <h1 class="main-header-text-accent">E V  H A C K S</h1>
          <h4 class="main-header-text-accent">Evergreen Valley High School's first annual Hackathon</h4>
          <br>
          <h3>
            OCTOBER 10, 2015<br>
            9:00AM - 9:00PM<br>
            <small class="main-header-text">
              EVERGREEN VALLEY HIGH SCHOOL<br>
              3300 QUIMBY ROAD,<br>
              SAN JOSE CA 95148
            </small>
          </h3>
          <br>
          <p><a class="btn btn-primary btn-lg" ng-link="home({section: 'signup'})" role="button">Sign up</a></p>
          <br>
          <p><a class="btn btn-primary" ng-link="home({section: 'sponsor'})" role="button">Sponsor us</a></p>
          <br>
          <p><a class="main-header-text-accent" href="//twitter.com/evhacks" target="_blank"><i class="fa fa-twitter"></i> @evhacks</a> |
            <a class="main-header-text-accent" href="https://github.com/EVHacks" target="_blank"><i class="fa fa-github"></i> github</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
