/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css");
/*@import url("https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-light_green.min.css");*/
/*@import url("https://fonts.googleapis.com/icon?family=Material+Icons");*/

.main-header {
  height: 80vh;
  min-height: min-content;
}
.main-header-backgroud {

}
.main-header-alpha {
  background: rgba(128, 128, 128, 0.67);
}
.main-header-text {
  color: #FFFFFF;
}
.main-header-text-accent {
  color: #2c3e50;
}

h1.main-header-text-accent {
  color: #2c3e50;
}

a.main-header-text-accent:hover {
  color: #2c3e50;
}


.main-navbar {

}
.main-navbar-fill-transparent {
  background: transparent;
  -webkit-transition: background 250ms linear;
  -moz-transition: background 250ms linear;
  -o-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  transition: background 250ms linear;
}
.main-navbar-fill-regular {
  background: #2c3e50;
  -webkit-transition: background 250ms linear;
  -moz-transition: background 250ms linear;
  -o-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  transition: background 250ms linear;
}

.reset-padding {
  padding: 0;
}

.vcenter-parent {
  vertical-align: middle;
  text-align: center;
}
.vcenter-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.vcenter-child {
  display: inline-block;
  vertical-align: middle;
}
