/*@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");*/
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css");
@import url("https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css");
@import url("https://storage.googleapis.com/code.getmdl.io/1.0.4/material.blue_grey-light_blue.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.main-header {
  height: 80vh;
  min-height: -moz-min-content;
	min-height: -webkit-min-content;
	min-height: min-content;
}
.main-header-backgroud {
  background: url(../assets/Banner.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-header-alpha {
  background: rgba(28, 68, 84, 0.75);
}
.main-header-text {
  color: #FFFFFF;
}
.main-header-text-accent {
  /*color: #2c3e50;*/
  /*color: #E1F1F7;*/
  color: #F7AE31;
}
h1.main-header-text-accent {
  color: #FFFFFF;
}
a.main-header-text-accent:hover {
  color: #F7AE31;
}
.main-header-nav-spacer {
  height: 108px;
}

.main-navbar {

}
.main-navbar-fill-transparent {
  background: transparent;
  -webkit-transition: background 250ms linear;
  -moz-transition: background 250ms linear;
  -o-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  transition: background 250ms linear;
}
.main-navbar-fill-regular {
  background: rgba(44,62,80,0.91);
  -webkit-transition: background 250ms linear;
  -moz-transition: background 250ms linear;
  -o-transition: background 250ms linear;
  -ms-transition: background 250ms linear;
  transition: background 250ms linear;
}

.reset-padding {
  padding: 0;
}

.table-full-width {
  width: 100%;
}

.card-row {
  padding: 15px;
}
.card-full-width {
  width: 100%;
}
.card-text-black {
  color: #2C3E50;
}
.card-height-resize {
  min-height: 0;
}

.vcenter-parent {
  vertical-align: middle;
  text-align: center;
}
.vcenter-parent:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.vcenter-child {
  display: inline-block;
  vertical-align: middle;
}
