<nav class="navbar navbar-default navbar-fixed-top main-navbar main-navbar-fill-regular">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-link="home({section: 'landing'})"><h6>EVHACKS</h6></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a ng-link="home({section: 'landing'})"><h6>Home</h6></a></li>
        <li><a ng-link="home({section: 'about'})"><h6>About</h6></a></li>
        <li><a ng-link="home({section: 'schedule'})"><h6>Event Schedule</h6></a></li>
        <li><a ng-link="home({section: 'necessities'})"><h6>Necessities</h6></a></li>
        <li><a ng-link="home({section: 'faq'})"><h6>FAQ</h6></a></li>
        <li><a ng-link="home({section: 'organizers'})"><h6>Organizers</h6></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a ng-link="home({section: 'signup'})"><h6>Sign Up</h6></a></li>
        <li><a ng-link="home({section: 'sponsor'})"><h6>Sponsors</h6></a></li>
      </ul>
    </div>
  </div>
</nav>
