<div class="page-header" id="homeSection-about">
  <h1>WHAT’S A HACKATHON?</h1>
</div>
<blockquote>
  <p>“Hackathons provide a venue for self-expression and creativity through technology. People with technical backgrounds come together, form teams around a problem or idea, and collaboratively code a unique solution from scratch — these generally take shape in the form of websites, mobile apps, and robots.”</p>
  <footer><cite>Dave Fontenot, founder of MHacks</cite></footer>
</blockquote>

<div class="page-header" id="homeSection-necessities">
  <h1>SO WHAT SHOULD I BRING TO THE HACKATHON?</h1>
</div>
<h3>MUSTS:</h3>
<p>
  <ul>
    <li>student or government issued ID (you’ll be turned away without it!)</li>
    <li>laptop & charger</li>
    <li>phone & charger</li>
  </ul>
</p>
<h3>IT'D BE NICE:</h3>
<p>
  <ul>
    <li>extension cords</li>
    <li>earbuds / earphones</li>
    <li>hardware (ie Arduino, Raspberry Pi)</li>
    <li>a light sweater (it’s breezy at night)</li>
    <li>ethernet cables</li>
    <li>preload languages/development environments you wish to use prior to the hackathon (download speeds are atrocious)</li>
  </ul>
</p>

<div class="page-header" id="homeSection-faq">
  <h1>FREQUENTLY ASKED QUESTIONS</h1>
</div>
<p>
  <ol>
    <li><h4>What if I don’t know how to code?</h4>
    You do not need to know how to code! We will be hosting a variety of workshops throughout the day such as making your own website from scratch using html/css and more advanced workshops. In addition, we will have mentors, both on-site and virtually.</li>
    <li><h4>Who can participate at this event?</h4>
    This hackathon is open to high school students only. If you already graduated from high school and you would like to be a mentor, please fill out this form and we will reach out to you shortly.</li>
    <li><h4>How much does this event cost?</h4>
    Thanks to our generous sponsors and support from our school’s administration, admission is free! We will provide you WiFi, meals, swag, and workspace.</li>
    <li><h4>How do I form or join a team?</h4>
    It’s best to form a team prior to the hackathon since we’ll only have around 11+ hours to hack; utilize the Facebook events page to find your future hack buddies!</li>
    <li><h4>What else should I do to prep for the hackathon?</h4>
    Get plenty of sleep the night before, shower and use deodorant. Steeping in a room with 150+ people for 12 hours can get gnarly, so keep yourself clean!</li>
    <li><h4>Is there a code of conduct and a waiver I need to read and sign?</h4>
    We’re glad you asked.  The waiver will be posted soon and the code of conduct can be found here.</li>
    <li><h4>I love what you’re doing and I am interested in sponsoring your event. What can I do to help?</h4>
    Awesome! Please check our our sponsorship levels and shoot us an email at evhssnhs@gmail.com. We will reach out to you shortly.</li>

    The schedule will be released a week prior to the event; this doc will also be updated regularly. Thanks and happy hacking!
  </ol>
</p>

<div class="page-header" id="homeSection-signup">
  <h1>WHERE DO I SIGN UP?</h1>
</div>
<p>
  <ol>
    <li>visit <a href="//localhackday.mlh.io" target="_blank">localhackday.mlh.io</a></li>
    <li>click “Attendee Sign Up”</li>
    <li>Select: San Jose, CA (Evergreen Valley High School- 3300 Quimby Rd. San Jose, CA 95148)</li>
  </ol>
</p>

<div class="page-header" id="homeSection-sponsor">
  <h1>SPONSORS</h1>
</div>
<p>
  list here <br>
  Want to sponsor us? link here.
</p>

<div class="page-header" id="homeSection-organizers">
  <h1>EV HACKS ORGANIZERS</h1>
</div>
<p>
  photos here
</p>
<!-- <img src="" class="img-circle"> -->
