<div class="container">

  <div class="page-header" id="homeSection-about">
    <h1>HOW TO POST</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="row card-row">
        <div class="col-md-12">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h3>Submissions are due to <a href="http://localhackday2015.devpost.com" target="_blank">DEVPOST</a> by 7:40</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="page-header" id="homeSection-about">
    <h1>WHAT’S A HACKATHON?</h1>
  </div>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <blockquote class="blockquote-reverse">
        <p>Hackathons provide a venue for self-expression and creativity through technology. People with technical backgrounds come together, form teams around a problem or idea, and collaboratively code a unique solution from scratch — these generally take shape in the form of websites, mobile apps, and robots.</p>
        <footer><cite>Dave Fontenot, founder of MHacks</cite></footer>
      </blockquote>
    </div>
  </div>


  <div class="page-header" id="homeSection-direction">
    <h1>WHERE ARE WE?</h1>
  </div>
  <ui-gmap-google-map center="home.map.center" zoom="home.map.zoom" options="home.map.options" class="angular-google-map-container"><ui-gmap-marker idKey="home.marker.idKey" coords="home.marker.coords" options="home.marker.options"></ui-gmap-marker></ui-gmap-google-map>

  <div class="page-header" id="homeSection-schedule">
    <h1>EVENT SCHEDULE</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="mdl-data-table mdl-js-data-table mdl-shadow--4dp table-full-width">
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">8:00</td>
            <td class="mdl-data-table__cell--non-numeric">registration begins</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">8:45</td>
            <td class="mdl-data-table__cell--non-numeric">doors open</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">8:55</td>
            <td class="mdl-data-table__cell--non-numeric">registration ends</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">9:00</td>
            <td class="mdl-data-table__cell--non-numeric">kickoff</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">9:10</td>
            <td class="mdl-data-table__cell--non-numeric">begin hacking</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">9:15</td>
            <td class="mdl-data-table__cell--non-numeric">workshops begin</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">12:30-1:30</td>
            <td class="mdl-data-table__cell--non-numeric">lunch</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">1:30</td>
            <td class="mdl-data-table__cell--non-numeric">afternoon workshops begin</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">4:30</td>
            <td class="mdl-data-table__cell--non-numeric">afternoon tea</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">7:40</td>
            <td class="mdl-data-table__cell--non-numeric">submissions due to devpost</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">7:00-7:40</td>
            <td class="mdl-data-table__cell--non-numeric">supper</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">7:40-8:40</td>
            <td class="mdl-data-table__cell--non-numeric">judging</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">8:40-9:00</td>
            <td class="mdl-data-table__cell--non-numeric">winners and closing ceremony</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="page-header" id="homeSection-rules">
    <h1>JUST A FEW RULES</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
        <div class="mdl-card__supporting-text card-full-width card-text-black">
          <ul>
            <li>read the <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf" target="_blank">code of conduct</a></li>
            <li>teams are capped at 5</li>
            <li>no coding prior to the event (brainstorming ideas is fine)</li>
          </ul>
        </div>
      </div>
    </div>
  </div>


  <div class="page-header" id="homeSection-necessities">
    <h1>SO WHAT SHOULD I BRING TO THE HACKATHON?</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h3>MUSTS:</h3>
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--4dp table-full-width">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric table-full-width">Item:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">signed <a href="https://drive.google.com/file/d/0B8U_7wjqYsu9ZzNTT2pMMFZVNW8/view" target="_blank">waiver</a></td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">school or government issued ID<br>(you’ll be turned away without it!)</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">laptop & charger</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">phone & charger</td>
          </tr>
        </tbody>
      </table>
      <h3>RECOMMENDED:</h3>
      <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--4dp table-full-width">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric table-full-width">Item:</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">extension cords</a></td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">earbuds / earphones</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">hardware (ie. Arduino, Raspberry Pi)</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">a light sweater (it’s breezy at night)</td>
          </tr>
          <tr>
            <td class="mdl-data-table__cell--non-numeric">download libraries/sdks/ide's prior to the hackathon<br>(download speeds are atrocious)</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


  <div class="page-header" id="homeSection-faq">
    <h1>FREQUENTLY ASKED QUESTIONS</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row">
        <div class="col-md-6 card-row">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h4>What if I don’t know how to code?</h4>
              <p>You do not need to know how to code! We will be hosting a variety of workshops throughout the day such as making your own website from scratch using html/css and more advanced workshops. In addition, we will have mentors, both on-site and virtually.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 card-row">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h4>Who can participate at this event?</h4>
              <p>This hackathon is open to high school students only. If you already graduated from high school and you would like to be a mentor, please fill out the <a ng-link="home({section: 'sponsor'})">mentor sign up form</a> and we will reach out to you
                shortly.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 card-row">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h4>How much does this event cost?</h4>
              <p>Thanks to our generous sponsors and support from our school’s administration, admission is free! We will provide you WiFi, meals, swag, and workspace.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 card-row">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h4>How do I form or join a team?</h4>
              <p>It’s best to form a team prior to the hackathon since we’ll only have around 11+ hours to hack; utilize the <a href="https://www.facebook.com/events/1608473596086878/" target="_blank">Facebook events page</a> to find your future hack buddies!</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 card-row">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h4>What else should I do to prep for the hackathon?</h4>
              <p>Get plenty of sleep the night before, shower and use deodorant. Steeping in a room with 150+ people for 12 hours can get gnarly, so keep yourself clean!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="page-header" id="homeSection-signup">
    <h1>WHERE DO I SIGN UP?</h1>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row card-row">
        <div class="col-md-10 col-md-offset-1">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <p>
                <ol>
                  <li>visit <a href="//localhackday.mlh.io" target="_blank">localhackday.mlh.io</a></li>
                  <li>click “Attendee Sign Up”</li>
                  <li>Select: <code>San Jose, CA (Evergreen Valley High School- 3300 Quimby Rd. San Jose, CA 95148)</code></li>
                </ol>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="page-header" id="homeSection-sponsor">
    <h1>SPONSORS</h1>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 card-row">
      <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize card-row">
        <a href="https://www.idtech.com/" target="_blank">
          <img src="EVHacks.github.io/assets/Sponsors/IDTech Logo.png" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-4 card-row">
      <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize card-row">
        <a href="http://www.scaasanjose.com/" target="_blank">
          <img src="EVHacks.github.io/assets/Sponsors/SilverCreekAcademy.JPG" class="img-responsive">
        </a>
      </div>
    </div>
    <div class="col-md-4 col-md-offset-4 card-row">
      <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize card-row">
        <a href="http://www.mattfreemanortho.com/" target="_blank">
          <img src="EVHacks.github.io/assets/Sponsors/FreemanLogo.PNG" class="img-responsive">
        </a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="row card-row">
        <div class="col-md-10 col-md-offset-1">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h3>WANT TO SPONSOR US?</h3>
              <p>
                Shoot us an email at <code>evhssnhs@gmail.com</code> and take a look at our <a href="https://drive.google.com/file/d/0B4Ruk7gujKs4SG9pT29iZG5QNGM/view?usp=sharing">sponsorship information</a>.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row card-row">
        <div class="col-md-10 col-md-offset-1">
          <div class="mdl-card mdl-shadow--4dp card-full-width card-height-resize">
            <div class="mdl-card__supporting-text card-full-width card-text-black">
              <h3>WANT TO BE A MENTOR?</h3>
              <p>
                <a href="https://docs.google.com/forms/d/1UXX9Kp9pJxGXkCReO-sQ9aTUIDu8Kmg4y7UBBf6AnTQ/viewform?c=0&w=1">Mentor Sign Up Form</a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="page-header" id="homeSection-organizers">
    <h1>EV HACKS II ORGANIZERS</h1>
  </div>
  <div class="row">
	    <div class="col-md-2 col-xs-4 card-row">
       <div class="mdl-card card-full-width card-height-resize card-row">
         <img src="EVHacks.github.io/assets/Organizers/MichelleTan.JPG" class="img-circle img-responsive">
         <div class="mdl-card__supporting-text card-full-width card-text-black">
           <h6 class="text-center">Michelle Tan</h6>
           <p class="text-center">
             President
           </p>
         </div>
       </div>
     </div>
     <div class="col-md-2 col-xs-4 card-row">
       <div class="mdl-card card-full-width card-height-resize card-row">
         <img src="EVHacks.github.io/assets/Organizers/DavisGu.JPG" class="img-circle img-responsive">
         <div class="mdl-card__supporting-text card-full-width card-text-black">
           <h6 class="text-center">Davis Gu</h6>
           <p class="text-center">
             Internal Vice President
           </p>
         </div>
       </div>
     </div>
     <div class="col-md-2 col-xs-4 card-row">
       <div class="mdl-card card-full-width card-height-resize card-row">
         <img src="EVHacks.github.io/assets/Organizers/VictoriaTran.JPG" class="img-circle img-responsive">
         <div class="mdl-card__supporting-text card-full-width card-text-black">
           <h6 class="text-center">Victoria Tran</h6>
           <p class="text-center">
            External Vice President
           </p>
         </div>
       </div>
     </div>
     <div class="col-md-2 col-xs-4 card-row">
       <div class="mdl-card card-full-width card-height-resize card-row">
         <img src="EVHacks.github.io/assets/Organizers/LabanyaM.JPG" class="img-circle img-responsive">
         <div class="mdl-card__supporting-text card-full-width card-text-black">
           <h6 class="text-center">Labanya Mukhopadhyay</h6>
           <p class="text-center">
             Secretary
           </p>
         </div>
       </div>
     </div>
     <div class="col-md-2 col-xs-4 card-row">
       <div class="mdl-card card-full-width card-height-resize card-row">
         <img src="EVHacks.github.io/assets/Organizers/VivianDu.JPG" class="img-circle img-responsive">
         <div class="mdl-card__supporting-text card-full-width card-text-black">
           <h6 class="text-center">Vivian Du</h6>
           <p class="text-center">
             Treasurer
           </p>
         </div>
       </div>
     </div>
     <div class="col-md-2 col-xs-4 card-row">
       <div class="mdl-card card-full-width card-height-resize card-row">
         <img src="EVHacks.github.io/assets/Organizers/JanetXu.JPG" class="img-circle img-responsive">
         <div class="mdl-card__supporting-text card-full-width card-text-black">
           <h6 class="text-center">Janet Xu</h6>
           <p class="text-center">
             Public Relations
           </p>
         </div>
       </div>
     </div>
   </div>
 

